<?php
/**
 * The base configuration for WordPress
 *
 * This file has the following configurations: MySQL settings, Secret Keys,
 * Database Table prefix, ABSPATH, and more.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 */

// ** MySQL settings ** //
define('DB_NAME', '{{ db_name }}');
define('DB_USER', '{{ db_user }}');
define('DB_PASSWORD', '{{ db_password }}');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// ** Authentication Unique Keys and Salts ** //
define('AUTH_KEY', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('SECURE_AUTH_KEY', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('LOGGED_IN_KEY', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('NONCE_KEY', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('AUTH_SALT', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('SECURE_AUTH_SALT', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('LOGGED_IN_SALT', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');
define('NONCE_SALT', '{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
    define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');